.modal-dialog {
  .modal-content {
    .modal-header {
      .schedule-header {
        display: flex;
        position: absolute;
        right: 40px;
        top: 10px;
        font-size: 14px;
        align-items: center;
        width: 220px;
        font-weight: 400;
        & > div {
          flex: 1;
          margin-left: 10px;
        }
      }
    }
  }
}
